<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>myCOL Scheduler</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Courier New", Courier, monospace;
            color : black;
            background : lightseagreen;
        }
        .container {
            width: 96%;
            height: 60%;
            background: lavender;
            margin: 2%;
        }
        .tabs {
            background: mediumseagreen;
        }
        .tab {
            float: left;
            width: 25%;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
        }
        .tab.selected {
            background : lavender;
        }
        .tab:hover {
            background: lightblue;
        }
        .main-tab-container {
            padding: 10px;
        }
        .clear {
            clear: both;
            height: 0px;
            width: 0px;
            overflow: hidden;
        }
        .hide {
            display: none;
        }
        .field {
            padding : 10px;
            clear: both;
        }
        .field .label, .field .value {
            float: left;
            width: 50%;

        }
        .field .label {
            text-align: right;
        }
        .field .label div {
            padding-right: 10px;
            width: 90%;
        }
        .field .value {

        }
        .field .value select {
            width: auto;
        }
        .button {
            background: #000;
            color: #fff;
            padding: 12px;
            border: none;
            cursor: pointer;
        }
        #resultform1,#resultform3 {
            color: #000099;
            font-size: 18px;
        }





    </style>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body bgcolor="mediumseagreen">
<br>
<h2 align="center">AIIMS Scheduler</h2>

<div class="container">
    <div class="tabs">
        <div id="tab1" class="tab selected">
            <span>Optimal Bookings By Date</span>
        </div>
        <div id="tab2" class="tab">
            <span>Data Submission</span>
        </div>
        <div id="tab3" class="tab">
            <span>Optimal Bookings by Probability</span>
        </div>
        <div id="tab4" class="tab">
            <span>Slotting (Advanced)</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main-tab-container">
        <div id="tab-container1" class="tab-container">
            <div class="field">
                <div class="label">
                    <div>Select Department</div>
                </div>
                <div class="value">
                    <select id="department" onchange="resetResultForm1()">
                        <option disabled>Select Department</option>
                        <option value="1" selected="selected">Medicine</option>
                        <option value="2">Ortho</option>
                        <option value="3">Skin</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Select Date</div>
                </div>
                <div class="value">
                    <input type="text" value="01/02/2017" id="date" readonly="readonly" onchange="resetResultForm1()"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Capacity</div>
                </div>
                <div class="value">
                    <select id="capacity" onchange="resetResultForm1()">
                        <option disabled>Select Capacity</option>
                        <option value="100">100</option>
                        <option value="135">135</option>
                        <option value="150">150</option>
                        <option value="200" selected="selected">200</option>

                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Show Probability</div>
                </div>
                <div class="value">
                    <input type="radio" name="show_probability" value="true"> Yes
                    <br>
                    <input type="radio" name="show_probability" value="false" checked> No
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>&nbsp;</div>
                </div>
                <div class="value">
                    <input class="button" id="form1submit" type="button" value="Get Optimal No. of Bookings"/>
                </div>
            </div>

            <div id="resultform1" class="hide">
                <div class="field">
                    <div class="label">
                        <div>Optimal No. of Bookings :</div>
                    </div>
                    <div class="value">
                        <span id="noofbookings"></span>
                    </div>
                </div>
            </div>
            <div id="resultform1_second" class="hide">
                <div class="field">
                    <div class="label">
                        <div>Probability of staying in the +10% and -5% range :</div>
                    </div>
                    <div class="value">
                        <span id="probability"></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
        <div id="tab-container2" class="tab-container hide">
            <div class="field">
                <div class="label">
                    <div>Select Date</div>
                </div>
                <div class="value">
                    <input type="text" value="01/02/2017" id="form2date" readonly="readonly"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Select Department</div>
                </div>
                <div class="value">
                    <select id="form2department">
                        <option disabled>Select Department</option>
                        <option value="1" selected="selected">Medicine</option>
                        <option value="2">Ortho</option>
                        <option value="3">Skin</option>

                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Day booked</div>
                </div>
                <div class="value">
                    <input type="text" id="daybooked" value="500"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Day Show up</div>
                </div>
                <div class="value">
                    <input type="text" id="dayshowup" value="250"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>&nbsp;</div>
                </div>
                <div class="value">
                    <input class="button" id="form2submit" type="button" value="Submit Data Entry"/>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="tab-container3" class="tab-container hide">
            <div class="field">
                <div class="label">
                    <div>Probability of Show : </div>
                </div>
                <div class="value">
                    <input type="text" id="form3prob" value="0.5"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Capacity of Slot : </div>
                </div>
                <div class="value">
                    <input type="text" id="form3capacity" value="200"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Show Probability</div>
                </div>
                <div class="value">
                    <input type="radio" name="show_probability_tab3" value="true"> Yes
                    <br>
                    <input type="radio" name="show_probability_tab3" value="false" checked> No
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>&nbsp;</div>
                </div>
                <div class="value">
                    <input class="button" id="form3submit" type="button" value="Get Optimal No. of Bookings"/>
                </div>
            </div>

            <div id="resultform3" class="hide">
                <div class="field">
                    <div class="label">
                        <div>Optimal No. of Bookings :</div>
                    </div>
                    <div class="value">
                        <span id="form3noofbookings"></span>
                    </div>
                </div>
            </div>
            <div id="resultform3_second" class="hide">
                <div class="field">
                    <div class="label">
                        <div>Probability of staying in the +10% and -5% range :</div>
                    </div>
                    <div class="value">
                        <span id="form3probability"></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="tab-container4" class="tab-container hide">
            <div class="field">
                <div class="label">
                    <div>Probability of Show :</div>
                </div>
                <div class="value">
                    <input type="text" id="form4prob" value="0.5"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Wait Time Cost :</div>
                </div>
                <div class="value">
                    <input type="text" id="form4waittimeconstant" value="1" typeof="float"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Over Time Cost :</div>
                </div>
                <div class="value">
                    <input type="text" id="form4overtimeconstant" value="1" typeof="float"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Impact of Over Time :</div>
                </div>
                <div class="value">
                    <input type="text" id="form4overtimepower" value="2" typeof="float"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>Total Capacity :</div>
                </div>
                <div class="value">
                    <input type="text" id="form4capacity" value="200"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <div>&nbsp;</div>
                </div>
                <div class="value">
                    <input class="button" id="form4submit" type="button" value="Lookup Optimal No. of Bookings"/>
                </div>
            </div>

            <div id="resultform4" class="hide">
                <div class="field">
                    <div class="label">
                        <div>Schedule</div>
                    </div>
                    <div class="value">
                        <span id="form4schedule"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="label">
                        <div>Estimated Payoff :</div>
                    </div>
                    <div class="value">
                        <span id="form4payoff"></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
<script>
    $(".tab").click(
            function () {
                $('.tab').removeClass('selected');
                $('.tab-container').addClass('hide');
                if($(this).attr('id') == 'tab1') {
                    $('#tab1').addClass('selected');
                    $('#tab-container1').removeClass('hide');
                } else if($(this).attr('id') == 'tab2') {
                    $('#tab2').addClass('selected');
                    $('#tab-container2').removeClass('hide');
                } else if($(this).attr('id') == 'tab3') {
                    $('#tab3').addClass('selected');
                    $('#tab-container3').removeClass('hide');
                } else if($(this).attr('id') == 'tab4') {
                    $('#tab4').addClass('selected');
                    $('#tab-container4').removeClass('hide');
                }
            }
    );

    $( "#date" ).datepicker(
            { minDate: new Date(2017,2 -1,1), maxDate: new Date(2017,7 -1,31) ,dateFormat: "dd/mm/yy"}
            );
    $( "#form2date" ).datepicker(
            { maxDate:0  ,dateFormat: "dd/mm/yy"}
    );
    $("#form1submit").click(
            function () {
                $('#resultform1').removeClass('hide');
                if ($('input[name="show_probability"]:checked').val() == "true") {
                    $('#resultform1_second').removeClass('hide');
                } else {
                    $('#resultform1_second').addClass('hide');
                }
                $('#probability').html('Loading Result');
                $('#noofbookings').html('Loading Result');
                $.ajax({
                    url: "/_by_date",
                    context: document.body,
                    method: "GET",
                    data: {department: $('#department').val(), date: $('#date').val(),capacity: $('#capacity').val()}
                }).done(function(data) {
                    if (data.success == "false") {
                        $('#probability').html('Error');
                        $('#noofbookings').html('Error');
                    } else {
                        $('#probability').html(data.prob_range);
                        $('#noofbookings').html(data.result);
                    }
                })  .fail(function() {
                    $('#probability').html('Error');
                    $('#noofbookings').html('Error');
                })
            }
    );
    $("#form2submit").click(
            function () {
                if(!$('#form2date').val() || !$('#form2department').val() || !$('#daybooked').val() || !$('#dayshowup').val()) {
                    alert("Please select all the fields.");
                    return;
                }
                if(!$.isNumeric($('#daybooked').val()) || !$.isNumeric($('#dayshowup').val())) {
                    alert("Please enter valid values for Day Booked and Day Show up");
                    return;
                }
                $.ajax({
                    url: "/_add_date_data",
                    context: document.body,
                    method: "GET",
                    data: {date: $('#form2date').val(), department: $('#form2department').val(),daybooked: $('#daybooked').val(),dayshowup: $('#dayshowup').val()}
                }).done(function(data) {
                    if (data.success == "false"){
                        alert("Error in saving data");
                    } else {
                        alert("data saved");
                        $('#daybooked').val('');
                        $('#dayshowup').val('');
                    }

                })  .fail(function() {
                    alert("Error in saving data");
                })
            }
    );
    $("#form3submit").click(
            function () {
                $('#resultform3').removeClass('hide');
                if ($('input[name="show_probability_tab3"]:checked').val() == "true") {
                    $('#resultform3_second').removeClass('hide');
                } else {
                    $('#resultform3_second').addClass('hide');
                }
                $('#form3probability').html('Loading Result');
                $('#form3noofbookings').html('Loading Result');
                $.ajax({
                    url: "/_add_numbers",
                    context: document.body,
                    method: "GET",
                    data: {probability: $('#form3prob').val(),capacity: $('#form3capacity').val()}
                }).done(function(data) {
                    if (data.success == "false") {
                        $('#form3probability').html('Internal Error');
                        $('#form3noofbookings').html('Internal Error');
                    } else {
                        $('#form3probability').html(data.prob_range);
                        $('#form3noofbookings').html(data.result);
                    }
                })  .fail(function() {
                    $('#form3probability').html('Error');
                    $('#form3noofbookings').html('Error');
                })
            }
    );
    $("#form4submit").click(
            function () {
                $('#resultform4').removeClass('hide');
                $('#form4payoff').html('Loading Result');
                $('#form4schedule').html('Loading Result');
                $.ajax({
                    url: "/_lookup_optimal_slotting_schedule",
                    context: document.body,
                    method: "GET",
                    data: {probability: $('#form4prob').val(),total_capacity: $('#form4capacity').val(),
                    wait_time_constant: $('#form4waittimeconstant').val(), over_time_constant: $('#form4overtimeconstant').val(),
                    over_time_power: $('#form4overtimepower').val()}
                }).done(function(data) {
                    if (data.success == "false") {
                        $('#form4payoff').html('Internal Error');
                        $('#form4schedule').html('Internal Error');
                    } else {
                        $('#form4payoff').html(data.prob_range);
                        $('#form4schedule').html(data.result);
                    }
                })  .fail(function() {
                    $('#form4payoff').html('Error');
                    $('#form4schedule').html('Error');
                })
            }
    );
    function  resetResultForm1() {
        $('#resultform1').addClass('hide');
    }




</script>
</body>
</html>